# Foundry
out/
cache/
broadcast/

# Logs
*/public/deploy_output.log

# Secrets
*/.env
*/.env.bak

# Dependencies
vendor/
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
.*DS_Store
**/.DS_Store
**/._*

foundry_cast_api/.env
